@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --titulo: "Cookie", cursive;
    --padrao: "Inria Sans", sans-serif;
    --azul-escuro: #242331;
}

main{
    margin: 2rem;
    display: flex;
}

.formulario{
    background-color: white;
    border-radius: 10px;
    width: 26rem;
    padding: 1rem 2rem;
    height: 15rem;
}

.formulario form{
    display: flex;
    flex-direction: column;
}

.formulario h1{
    margin: 0;
    font-family: var(--padrao);
    color: var(--azul-escuro);
    margin-bottom: 0.8rem;
}

.formulario form select{
    border-radius: 5px;
    border: 1px solid #242331;
    width: 12rem;
    margin-bottom: 1rem;
}

.botao{
    background-color: #242331;
    color: white;
    font-family: var(--padrao);
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #242331;
}

.emprestimos{
    display: flex;
    flex-wrap: wrap;
}

.emprestimos div{
    background-color: white;
    border-radius: 10px;
    padding: 1rem 2rem;
    max-width: 18rem;
    height: 7rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.emprestimos div p{
    font-family: var(--padrao);
    color: var(--azul-escuro);
    margin: 0;
    margin-bottom: 0.5rem;
}

.emprestimos div .nome{
    font-weight: 700;
    font-size: 1.2rem;
}