<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poolas | Alternativas da pergunta {{ pergunta.id }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'enquetes/style_detalhes.css'%}">
</head>
<body>
    <header>
        <img src="{% static 'enquetes/img/coluna.png'%}">
        <h1>poolas</h1>
    </header>
    <main>
        <p class="voltar"><a href="{% url 'enquetes:index'%}">Perguntas recentes </a>> {{ pergunta.texto }}</p>
        <h2>{{ pergunta.texto }}</h2>
        <h3>{{ pergunta.data_pub }}</h3>
        {% if error_message %}
        <p class="error">Selecione uma alternativa.</p>
        {% endif %}
        <form action="{% url 'enquetes:detalhes' pergunta.id %}" method='post'>
        {% csrf_token %}
        {% for alt in pergunta.alternativa_set.all %}
            <input type='radio' name='voto' value='{{ alt.id }}' id='alt{{ forloop.counter }}'>
            <label for='alt{{ forloop.counter }}'>
                {{ alt.texto }}
            </label>
            <br>
        {% endfor %}
        <input type='submit' value='Votar' class="votar-botao">
    </form>
</body>
</html>