<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poolas | Perguntas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'enquetes/style_index.css'%}">
</head>
<body>
    <header>
        <img src="{% static 'enquetes/img/coluna.png'%}">
        <h1>poolas</h1>
    </header>
    <main>
        <h2>Perguntas recentes</h2>
        <div>
        {% if lista %}
        <ul>
            {% for p in lista %}
            <li>
                <div>
                    <p class="texto">{{ p.texto }}</p>
                    <button><a href="{% url 'enquetes:detalhes' p.id %}">Alternativas</a></button>
                    <p class="data-pub">{{ p.data_pub }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhuma pergunta disponível.</p>
        {% endif %}
    </div>
    </main>
</body>
</html>