<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas da enquete</title>
    <link rel="stylesheet" type="text/css" href="{% static 'enquetes/css/style.css'%}">
</head>
<body>
    <h1>Aluna: Ester Oliveira do Nascimento Duarte Melo</h1>
    <h1>Matrícula: 20231014040002</h1>
    <h2>Aplicação de Enquetes - Desenvolvimento Web 2024.1</h2>
    <h3>Perguntas</h3>
    {% if lista %}
    <ul>
        {% for p in lista %}
        <li><a href="{% url 'enquetes:detalhes' p.id %}">
            {{ p.texto }}
        </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nenhuma pergunta disponível.</p>
    {% endif %}
</body>
</html>