{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
    <title>Acervo digital | {{request.user.username}}</title>
</head>
<body>
    <header>
        <h1>Acervo Digital</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Livros</a>
        <a href="{% url 'contatos' %}">Contatos</a>
        <a href="{% url 'emprestimos' %}">Emprestar livro</a>
        <a href="{% url 'login' %}">logout</a>
    </nav>
    <main>
    {% block conteudo %}
    {% endblock %}
    </main>
</body>
</html>