<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Acervo digital</title>
</head>
<body>
    <form action="{% url 'cadastro' %}" method="post">
        {% csrf_token %}
        <input type="text" name="nome">
        <input type="text" name="username">
        <input type="email" name="email">
        <input type="password" name="senha">
        <input type="submit" value="Cadastrar-se">
    </form>
</body>