{% extends 'acervodigital/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'acervodigital/style_contatos.css'%}">
{% endblock %}

{% block conteudo %}

{% if request.user.is_authenticated %}
<main>
    <div class="formulario">
        <h1>Adicionar contato</h1>
        <form action="{% url 'contatos' %}" method="post">
            {% csrf_token %}
            {{ formulario }}
            <input type="submit" value="Cadastrar contato" class="botao">
        </form>
    </div>
    <div class="contatos">
    {% for c in contatos %}
        <div>
            <p class="nome">{{ c.nome }}</p>
            <p>{{ c.email }}</p>
        </div>
    {% endfor %}
    </div>
</main>

{% endif %}

{% endblock %}