<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poolas | Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'raiz/css/style.css'%}">
</head>
<body>
    <header>
        <img src="{% static 'raiz/imgs/coluna.png'%}">
        <h1>poolas</h1>
    </header>
    <main>
        <div class="bem-vindo">
            <p>Bem-vindo a sua página de enquetes!<br>Faça enquetes de forma rápida e eficiente.</p>
            <button>
                <a href='enquetes/'>
                COMECE AGORA
                </a>
            </button>
        </div>
        <img src="{% static 'raiz/imgs/grafico-de-colunas(1).png'%}">
    </main>

    <footer>
        <p>Aplicação para a disciplina de Desenvolvimento Web 2024.1</p>
        <p><strong>Aluna:</strong> Ester Oliveira do Nascimento Duarte Melo</p>
        <p><strong>Matrícula:</strong> 20231014040002</p>
    </footer>

</body>
</html>