body{
    font-family: sans-serif;
    font-size: 20px;
    margin: 30px;
    background: url("../img/capeta.jpg") no-repeat;
    background-size: cover;
}
h1{
    font-size: 30px;
    color: rgb(43, 43, 43);
}
h2{
    font-size: 25px;
    color: rgb(43, 43, 43);
}
ul{
    border: 2px solid black;
    border-radius: 15px;
    padding: 25px;
    width: 700px;
}
li a{
    text-decoration: none;
    color: rgb(43, 43, 43);
}

li a:visited{
    color: rgb(6, 28, 90);
    text-decoration: none;
}

div{
    display: flex;
}

div img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}