body{
    font-family: sans-serif;
    font-size: 20px;
    margin: 30px;
    background-color: rgb(175, 175, 175);
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
li a{
    text-decoration: none;
    color: rgb(43, 43, 43);
}

li a:visited{
    color: rgb(64, 134, 43);
    text-decoration: none;
}